<footer>
    <section class="footer_1st_section">
        dfghjklñpoiuyfgcvhbjnkml,ñ.,lmknbvcfdrttyuiopl,mn bvcfdtryuiokl,
    </section>
    <section class="footer_2nd_section">
        <div class="footer_copy-legal_container">
            <div class="footer_copyright">
                <p>Analia F. Jaime (2024)</p>
            </div>
            <ul class="footer_legal">
                <li><span>Privacy Policy</span></li>
                <li><span>Terms of Use</span></li>
                <li><span>Sales and Refunds</span></li>
                <li><span>Legal</span></li>
                <li><span>Site Map</span></li>
            </ul>
        </div>
        <div class="footer_country">
            <span>CABA, Argentina</span>
        </div>
    </section>
</footer>